<div class="container">
    <div class="row">
      <div class="col-md-6">
    <div class=" example-container mat-elevation-z8">
      <table mat-table [dataSource]="abDatasource">
        <!-- <ng-container matColumnDef="subject_id">
              <th mat-header-cell *matHeaderCellDef>ID</th>
              <td mat-cell *matCellDef="let i"> {{i.subject_id}} </td>
        </ng-container> -->
        <ng-container matColumnDef="exam_subject_type">
          <th mat-header-cell *matHeaderCellDef> ExamSubjectType </th>
          <td mat-cell *matCellDef="let i"> {{i.exam_subject_type}} </td>
        </ng-container>
        <ng-container matColumnDef="exam_subject_marks">
          <th mat-header-cell *matHeaderCellDef> subjectMarks </th>
          <td mat-cell *matCellDef="let i"> {{i.exam_subject_marks}} </td>
        </ng-container>
        <ng-container matColumnDef="exam_subject_date">
          <th mat-header-cell *matHeaderCellDef> SubjectExamDate </th>
          <td mat-cell *matCellDef="let i"> {{i.exam_subject_date}} </td>
        </ng-container>
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef class="textSizes">Actions</th>
          <td mat-cell *matCellDef="let i; let j=index;"> 
            <button mat-icon-button style="color:gray;margin-right: 10px;" (click)="RowSelectedd(j,class_id,exam_id,exam_class_id,subject_id,exam_subject_type,exam_subject_marks,exam_subject_date,exam_subject_start_time,exam_subject_end_time,class_name,exam_type)">
              <mat-icon aria-label="Edit">edit</mat-icon>
            </button>
  
            <button mat-icon-button style="color:gray;margin-right: 10px;" (click)="deletes(j,i.exam_id,i.exam_type,i.exam_start_date,i.exam_end_date)">
              <mat-icon aria-label="Edit">delete</mat-icon>
            </button>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row (click)="RowSelected(row)" *matRowDef="let row; columns: displayedColumns;">
        </tr>
      </table>
    </div>
  </div>
  <div class="col-md-6">
      <mat-card class="row example-card parent">
        <div class="block child">
          <p style="margin-top: 20px; color: gray; font-size: 24px;">SubjectExam Details</p>
          <mat-form-field class="col-md-12 mat-form-wrap" style="color :gray" appearance="outline">
              <mat-icon  style=color:#0123e4 matSuffix>format_list_numbered</mat-icon>
              <mat-label style="color :gray">ClassName</mat-label>
              <input style="color :gray" [(ngModel)]="class_id" type="text" name="class_id"  matInput>
            </mat-form-field>
            <mat-form-field class="col-md-12 mat-form-wrap" style="color :gray" appearance="outline">
                <mat-icon  style=color:#0123e4 matSuffix>format_list_numbered</mat-icon>
                <mat-label style="color :gray">ExamType</mat-label>
                <input style="color :gray" [(ngModel)]="exam_type" type="text" name="exam_type"  matInput>
              </mat-form-field>
          <mat-form-field class="col-md-12 mat-form-wrap" style="color :gray" appearance="outline">
              <mat-label style="color :gray">Subject Name</mat-label>
              <mat-select style="color:gray;" [(ngModel)] = "subject_id">
                <mat-option>Exam</mat-option>
                <mat-option *ngFor="let subject of subdata" [value]="subject.subject_id">{{subject.subject_name}}</mat-option>
              </mat-select>
          </mat-form-field>
          <mat-form-field class="col-md-12 mat-form-wrap" style="color :gray" appearance="outline">
              <mat-icon  style=color:#0123e4 matSuffix>format_list_numbered</mat-icon>
              <mat-label style="color :gray">ExamSubjectType</mat-label>
              <input style="color :gray" [(ngModel)]="exam_subject_type" type="text" name="exam_subject_type"  matInput>
            </mat-form-field>
            <mat-form-field class="col-md-12 mat-form-wrap" style="color :gray" appearance="outline">
                <mat-icon  style=color:#0123e4 matSuffix>format_list_numbered</mat-icon>
                <mat-label style="color :gray">SubjectMarks</mat-label>
                <input style="color :gray" [(ngModel)]="exam_subject_marks" type="text" name="exam_subject_marks"  matInput>
              </mat-form-field>
            <mat-form-field class="col-md-12 mat-form-wrap" style="color :gray" appearance="outline" >
                <input matInput [matDatepicker]="picker" placeholder="Choose a date" [(ngModel)]="exam_subject_date" name="exam_subject_date">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker startView="year" [startAt]="startDate" ></mat-datepicker>
              </mat-form-field>            
              <mat-form-field class="col-md-12" style="color: gray;" >
                  <mat-label style="color: gray;">Exam StartTime</mat-label>
                  <mat-icon style="color :orange" matSuffix>timer</mat-icon>
                  <input  matInput type="time" atp-time-picker name="exam_subject_start_time" #from_time="ngModel" [ngModel]="exam_subject_start_time">
                </mat-form-field>
                <mat-form-field class="col-md-12" style="color: gray;" >
                    <mat-label style="color: gray;">Exam EndTime</mat-label>
                    <mat-icon style="color :orange" matSuffix>timer</mat-icon>
                    <input  matInput type="time" atp-time-picker name="exam_subject_end_time" #from_time="ngModel" [ngModel]="exam_subject_end_time"> 
                  </mat-form-field>
          <button mat-raised-button class="btn-style" (click)="onsubmitclick()">{{buttoncontent}}</button>
        </div>
      </mat-card>
    </div>
  </div>
  </div>