<div class="container">
  <div class="row">
    <div class="col-md-6">
      <mat-card class="row example-card parent">
        <div class="block child">
          <p style="margin-top: 20px; margin-left: 15px; color: #012; font-size: 24px;">Mother Tongue</p>
          <mat-form-field class="col-md-12 mat-form-wrap" style=color:#001122 appearance="outline">
            <mat-label style=color:#012>Mothertongue_Name</mat-label>
            <input onkeypress="return (event.charCode > 64 &&
            event.charCode < 91) || (event.charCode > 96 && event.charCode < 123)" style=color:#012 matInput name="mother_tongue_name" [(ngModel)]="mother_tongue_name" type="text" required>
            <mat-icon style=color:#012  matSuffix>donut_large</mat-icon>
            <!-- <mat-hint color="primary">Hint</mat-hint> -->
          </mat-form-field>
          <button (click)="onclick()" mat-raised-button class="btn-style">{{buttoncontent}} </button>
        </div>
      </mat-card>
    </div>
    <div class="col-md-6">
      <div class="example-container mat-elevation-z8">
        <table mat-table [dataSource]="dataSource">
          <!-- Id Column -->
          <ng-container matColumnDef="mother_tongue_id">
            <th mat-header-cell *matHeaderCellDef>Id</th>
            <td mat-cell *matCellDef="let element"> {{element.mother_tongue_id}} </td>
          </ng-container>
          <!-- Name Column -->
          <ng-container matColumnDef="mother_tongue_name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let element"> {{element.mother_tongue_name}} </td>
          </ng-container>
          <!-- Name Column
          <ng-container matColumnDef="institution_id">
              <th mat-header-cell *matHeaderCellDef> Institute </th>
              <td mat-cell *matCellDef="let element"> {{element.institution_id}} </td>
            </ng-container> -->
              <!-- actions -->
       <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>Edit</th>
          <td mat-cell *matCellDef="let element; let i=index;">
            <button mat-icon-button style="color:gray;margin-right: 10px;" (click)="startEdit(i, element.mother_tongue_id, element.mother_tongue_name)">
              <mat-icon aria-label="Edit">edit</mat-icon>
            </button>
          </td>
        </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
    </div>
  </div>
</div>

