<mat-tab-group>
  <mat-tab label="Castes"> <app-cast-details></app-cast-details> </mat-tab>
  <mat-tab label="Religions"> <app-religion></app-religion> </mat-tab>
  <mat-tab label="Blood Groups"><app-bloodgroup></app-bloodgroup> </mat-tab>
  <mat-tab label="Departments"> <app-department></app-department> </mat-tab>
  <mat-tab label="Designations"> <app-designation></app-designation></mat-tab>
  <mat-tab label="User Types"> <app-usertype></app-usertype> </mat-tab>
  <mat-tab label="Mothertongue"> <app-mothertongue></app-mothertongue></mat-tab>
</mat-tab-group>