table {
    width: 100%;
    margin-top: 20px;
  }
  table thead {
    display: block;
  }
  table tbody {
    height: 200px;
    display: block;
    overflow-y: scroll;
  }
  .example-card{
    /* background-color: #33B5E5; */
    margin-top: 20px;
  }
  .mat-form-wrap{
    width: 100%;
    margin: 0px;
  }
  .btn-style{
    background-color: #33B5E5;
    color: white;
    width: 200px;
    height: 50px;
    left: 0px;
    margin-bottom: 15px;
    margin-top: 15px;
    font-size: 18px;
  }
  .parent{
    text-align:center;
    height:500px;
  }
  .block {
    width: 80%;
  }
  .child {
    margin:auto;
  }
  .example-container {
    overflow-y: scroll;display: block;height: 500px;
  }