<div class="container">
  <div class="row">
    <div class="col-md-6">
      <mat-card class="row example-card parent">
        <div class="block child">
          <p style="margin-top: 20px; margin-left: 15px; color: gray; font-size: 24px;">Designation Details</p>
          <mat-form-field class="col-md-12 mat-form-wrap" style="color :gray" appearance="outline">
            <mat-icon  style=color:#0123e4 matSuffix>format_list_numbered</mat-icon>
            <mat-label style="color :gray">Designation Code</mat-label>
            <input style="color :gray" [(ngModel)]="designation_code" type="text" name="designation_code"  matInput>
          </mat-form-field>
          <mat-form-field class="col-md-12 mat-form-wrap" style="color :gray" appearance="outline" >
            <mat-label style="color :gray">Department Id</mat-label>
             <mat-select [(ngModel)] = "deptselected" (change)="callType($event.value)"> 
                <mat-option>Department</mat-option>
              <mat-option *ngFor="let dname of delist" [value]="dname.departmant_id">{{dname.departmant_name}}</mat-option> 
            </mat-select>
          </mat-form-field>
          <mat-form-field class="col-md-12 mat-form-wrap" style="color :gray" appearance="outline">
            <mat-icon style="color:gray;" matSuffix>code</mat-icon>
            <mat-label style="color :gray">Designation Name</mat-label>
            <input style="color:gray;" matInput [(ngModel)]="designation_name" type="text" name="designation_name">
          </mat-form-field>
          <mat-form-field class="col-md-12 mat-form-wrap"  style="color:gray;" appearance="outline">
            <mat-icon style="color:gray;" matSuffix>description</mat-icon>
            <mat-label style="color:gray;">Description</mat-label>
            <input style="color:gray;" matInput [(ngModel)]="designation_description" type="text" name="designation_description">
          </mat-form-field>
          <button mat-raised-button class="btn-style" (click)="onsubmitclick()">{{buttoncontent}}</button>
        </div>
      </mat-card>
    </div>
    <div class="col-md-6">
      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="abDatasource">
          <ng-container matColumnDef="designation_id">
            <th mat-header-cell *matHeaderCellDef> Id </th>
            <td mat-cell *matCellDef="let i"> {{i.designation_id}} </td>
          </ng-container>
          <!-- Name Column -->
          <ng-container matColumnDef="designation_code">
            <th mat-header-cell *matHeaderCellDef> Code </th>
            <td mat-cell *matCellDef="let i"> {{i.designation_code}} </td>
          </ng-container>
          <!-- Code Column -->
          <ng-container matColumnDef="designation_name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let i"> {{i.designation_name}} </td>
          </ng-container>
          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef class="textSizes">Actions</th>
            <td mat-cell *matCellDef="let i; let j=index;"> 
              <button mat-icon-button style="color:gray;margin-right: 10px;" (click)="RowSelectedd(j,i.designation_id,i.departmant_id,i.designation_code,i.designation_name,i.designation_description)">
                <mat-icon aria-label="Edit">edit</mat-icon>
              </button>
    
              <button mat-icon-button style="color:gray;margin-right: 10px;" (click)="deletes(j,i.designation_id,i.departmant_id,i.designation_code,i.designation_name,i.designation_description)">
                <mat-icon aria-label="Edit">delete</mat-icon>
              </button>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row (click)="RowSelected(row)" *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
    </div>
  </div>
</div>