<div class="container">
  <div class="row">
    <div class="col-md-6">
      <mat-card class="row example-card parent">
        <div class="block child">
          <p style="margin-top: 20px; margin-left: 15px; color:#0123e4; font-size: 24px;">BloodGroup Details</p>
          <mat-form-field class="col-md-12 mat-form-wrap" style="color :#0123e4" appearance="outline">
            <mat-icon  style=color:#0123e4 matSuffix>format_list_numbered</mat-icon>
            <mat-label style="color :#0123e4">BloodGroup Code</mat-label>
            <input style="color :#0123e4" [(ngModel)]="blood_group_code" type="text" name="blood_group_code"  matInput>
          </mat-form-field>
          <mat-form-field class="col-md-12 mat-form-wrap" style="color :#0123e4" appearance="outline">
            <mat-icon style="color :#0123e4" matSuffix>developer_board</mat-icon>
            <mat-label style="color :#0123e4">BloodGroup Name</mat-label>
            <input style="color :#0123e4" [(ngModel)]="blood_group_name" type="text" name="blood_group_name"  matInput>
          </mat-form-field>
          <button mat-raised-button class="btn-style" (click)="onsubmitclick()">{{buttoncontent}}</button>
        </div>
      </mat-card>
    </div>
    <div class="col-md-6">
      <div class="example-container mat-elevation-z8">
        <table mat-table [dataSource]="abDataSource">
          <ng-container matColumnDef="blood_group_id">
            <th mat-header-cell *matHeaderCellDef> S.No </th>
            <td mat-cell *matCellDef="let i"> {{i.blood_group_id}} </td>
          </ng-container> 
          <!-- Id Column -->
          <ng-container matColumnDef="blood_group_code">
            <th mat-header-cell *matHeaderCellDef> Code </th>
            <td mat-cell *matCellDef="let i "> {{i.blood_group_code}} </td>
          </ng-container>
          <!-- Name Column -->
          <ng-container matColumnDef="blood_group_name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let i "> {{i.blood_group_name}} </td>
          </ng-container>
          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef class="textSizes">Actions</th>
            <td mat-cell *matCellDef="let i; let j=index;"> 
              <button mat-icon-button style="color:gray;margin-right: 10px;" (click)="RowSelectedd(j,blood_group_id,blood_group_code,blood_group_name)">
                <mat-icon aria-label="Edit">edit</mat-icon>
              </button>
    
              <button mat-icon-button style="color:gray;margin-right: 10px;" (click)="deletes(j,blood_group_id,blood_group_code,blood_group_name)">
                <mat-icon aria-label="Edit">delete</mat-icon>
              </button>
            </td>
          </ng-container>
         
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row (click) = RowSelected(row) *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <!-- <mat-paginator [pageSizeOptions]="[8]" showFirstLastButtons></mat-paginator> -->
      </div>
    </div>
  </div>
</div>
