
table
{
    width: 100%;
}

.textSizes
{
    font-size: 100%;
    color: navy;
}


.example-container {
  height: 500px;
  overflow: auto; 
  margin-top: 20px;
}
.btn-style{
  background-color: #33B5E5;
  color: white;
  width : 100%;
  height: 50px;
  left: 0px;
  margin-bottom: 15px;
  margin-top: 15px;
  font-size: 18px;
}