<div class="col-md-12">
    <div class="main">
      <p style="margin-top: 15px;height: 20px;">Add Employee</p>
    </div>
  </div>
<div class="container">
  <mat-vertical-stepper [linear]="isLinear" #stepper>    
    <mat-step>       
        <ng-template matStepLabel>Basic Details</ng-template>
        <div class="container">
          <div class="row col-md-12">
            <div class="col-md-4 ">
              <mat-form-field class="col-md-12 mat-form-wrap" style="color :gray" appearance="outline">
                <mat-icon style="color :gray" matSuffix>code</mat-icon>
                <mat-label style="color :gray">Institute Emp Id</mat-label>
                <input style="color :gray" type="text" [(ngModel)]="employee_code" name="employee_code" matInput required>
                <!-- <mat-hint color="primary">Hint</mat-hint> -->
              </mat-form-field>
            </div>
            <div class="col-md-4">
              <mat-form-field class="col-md-12 mat-form-wrap" style="color :gray" appearance="outline">
                <mat-icon style="color :gray" matSuffix>person</mat-icon>
                <mat-label style="color :gray">Employee First Name</mat-label>
                <input style="color :gray" type="text" [(ngModel)]="first_name" name="first_name" matInput required>
                <!-- <mat-hint color="primary">Hint</mat-hint> -->
              </mat-form-field>
            </div>
            <div class="col-md-4">
              <mat-form-field class="col-md-12 mat-form-wrap" style="color :gray" appearance="outline">
                <mat-icon style="color :gray" matSuffix>person</mat-icon>
                <mat-label style="color :gray">Employee Last Name</mat-label>
                <input style="color :gray" type="text" [(ngModel)]="last_name" name="last_name" matInput required>
                <!-- <mat-hint color="primary">Hint</mat-hint> -->
              </mat-form-field>
            </div>
          </div>
          <div class="row col-md-12">
            <div class="col-md-4 ">
              <mat-form-field class="col-md-12 mat-form-wrap" style="color :gray" appearance="outline">
                <mat-label style="color :gray">Employee DOB</mat-label>
                <input style="color :gray" [matDatepicker]="picker" [(ngModel)]="date_of_birth" name="date_of_birth" matInput required>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
            </div>
            <div class="col-md-4">
              <mat-form-field class="col-md-12 mat-form-wrap" style="color :gray" appearance="outline">
                <!-- <mat-icon style="color :gray" matSuffix>code</mat-icon> -->
                <mat-label>Employee Blood Group</mat-label>
                  <mat-select [(ngModel)]="blood_group_id">
                    <mat-option>Blood Group</mat-option>
                    <mat-option *ngFor="let bg of blood" [value]="bg.blood_group_id">{{bg.blood_group_name}}</mat-option>
                  </mat-select>
                <!-- <mat-hint color="primary">Hint</mat-hint> -->
              </mat-form-field>
            </div>
            <div class="col-md-4">
              <mat-form-field class="col-md-12 mat-form-wrap" style="color :gray" appearance="outline">
                <mat-icon style="color :gray" matSuffix>code</mat-icon>
                <mat-label style="color :gray">Employee Qualification</mat-label>
                <input style="color :gray" type="text" [(ngModel)]="qualification" name="qualification" matInput required>
                <!-- <mat-hint color="primary">Hint</mat-hint> -->
              </mat-form-field>
            </div>
          </div>
          <div class="row col-md-12">
            <div class="col-md-4 ">
              <mat-form-field class="col-md-12 mat-form-wrap" style="color :gray" appearance="outline">
                <mat-icon style="color :gray" matSuffix>code</mat-icon>
                <mat-label style="color :gray">Employee Experience in Years</mat-label>
                <input style="color :gray" type="text" [(ngModel)]="experience" name="experience" matInput required>
                <!-- <mat-hint color="primary">Hint</mat-hint> -->
              </mat-form-field>
            </div>
            <div class="col-md-4">
              <mat-form-field class="col-md-12 mat-form-wrap" style="color :gray" appearance="outline">
                <mat-icon style="color :gray" matSuffix>phone</mat-icon>
                <mat-label style="color :gray">Employee Mobile Number</mat-label>
                <input style="color :gray" type="number" oninput="typescript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" maxlength="10" [(ngModel)]="phone_no" name="phone_no" matInput required>
                <!-- <mat-hint color="primary">Hint</mat-hint> -->
              </mat-form-field>
            </div>
            <div class="col-md-4">
              <mat-form-field class="col-md-12 mat-form-wrap" style="color :gray" appearance="outline">
                <mat-icon style="color :gray" matSuffix>phone</mat-icon>
                <mat-label style="color :gray">Employee Alternative Number</mat-label>
                <input style="color :gray" type="number" oninput="typescript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" maxlength="10" [(ngModel)]="alternate_phone_no" name="alternate_phone_no" matInput required>
                <!-- <mat-hint color="primary">Hint</mat-hint> -->
              </mat-form-field>
            </div>
          </div>
          <div class="row col-md-12">
            <div class="col-md-4 ">
              <mat-form-field class="col-md-12 mat-form-wrap" style="color :gray" appearance="outline">
                <mat-icon style="color :gray" matSuffix>email</mat-icon>
                <mat-label style="color :gray">Employee Email Id</mat-label>
                <input style="color :gray" type="email" email="true" [(ngModel)]="email" name="email" matInput required>
                <!-- <mat-hint color="primary">Hint</mat-hint> -->
              </mat-form-field>
            </div>
            <div class="col-md-4">
              <mat-form-field class="col-md-12 mat-form-wrap" style="color :gray" appearance="outline">
                <!-- <mat-icon style="color :gray" matSuffix>code</mat-icon> -->
                <mat-label style="color :gray">Employee Joining Date</mat-label>
                <input style="color :gray" [matDatepicker]="pickerr" [(ngModel)]="joining_date" name="joining_date" matInput required>
                <mat-datepicker-toggle matSuffix [for]="pickerr"></mat-datepicker-toggle>
                <mat-datepicker #pickerr></mat-datepicker>
                <!-- <mat-hint color="primary">Hint</mat-hint> -->
              </mat-form-field>
            </div>
            <div class="col-md-4">
                <!-- <mat-label style="color :gray">Employee Gender</mat-label> -->
                <div class="col-md-12 box_border">
                  <mat-radio-group [(ngModel)]="gender" name="gender" style="margin-bottom: 60px;margin-top: 60px;" aria-label="Select an option" required><!--style="border-style: groove;text-align: center;height: 190px;"-->
                    <mat-radio-button value="Male">Male</mat-radio-button>
                    <mat-radio-button value="Female">Female</mat-radio-button>
                    <mat-radio-button value="Others">Others</mat-radio-button>
                  </mat-radio-group>
                </div>
                <!-- <mat-hint color="primary">Hint</mat-hint> -->
            </div>
          </div>
        </div>
        <div>
          <button class="btn-style" mat-button matStepperNext>Next</button>
        </div>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Academic and Access Type Details</ng-template>
        <div class="container">
          <div class="row col-md-12">
              <div class="col-md-8">
                <div class="col-md-12">
                  <mat-form-field class="col-md-12" style="color :gray" appearance="outline">
                    <mat-icon style="color :gray" matSuffix>code</mat-icon>
                    <mat-label style="color :gray">Present Address</mat-label>
                    <textarea style="color :gray;height: 75px;" type="text" [(ngModel)]="present_address" name="present_address" matInput required></textarea>
                    <!-- <mat-hint color="primary">Hint</mat-hint> -->
                  </mat-form-field>
                </div>
                <div class="col-md-12">
                  <mat-form-field class="col-md-12" style="color :gray" appearance="outline">
                    <mat-icon style="color :gray" matSuffix>code</mat-icon>
                    <mat-label style="color :gray">Permanent Address</mat-label>
                    <textarea style="color :gray;height: 75px;" type="text"  [(ngModel)]="perminent_address" name="perminent_address" matInput required></textarea>
                    <!-- <mat-hint color="primary">Hint</mat-hint> -->
                  </mat-form-field>
                </div>
              </div>
            <div class="col-md-4">
              <div class="col-md-12">
                <mat-form-field class="col-md-12 mat-form-wrap" style="color: gray;" appearance="outline">
                  <mat-icon style="color :gray" matSuffix>location_city</mat-icon>
                  <mat-label style="color :gray">City</mat-label>
                  <input style="color :gray" type="text"  [(ngModel)]="city" name="city" matInput required>
                  <!-- <mat-hint color="primary">Hint</mat-hint> -->
                </mat-form-field>
              </div>
              <div class="col-md-12">
                  <mat-form-field class="col-md-12 mat-form-wrap" style="color: gray;" appearance="outline">
                    <mat-label>State</mat-label>
                      <mat-select [(ngModel)]="state_id">
                        <mat-option>States</mat-option>
                        <mat-option *ngFor="let stt of states" [value]="stt.state_id">{{stt.states}}</mat-option>
                      </mat-select>
                    <!-- <mat-hint color="primary">Hint</mat-hint> -->
                  </mat-form-field>
              </div>
              <div class="col-md-12">
                  <mat-form-field class="col-md-12 mat-form-wrap" style="color: gray;" appearance="outline">
                    <mat-icon style="color :gray" matSuffix>code</mat-icon>
                    <mat-label style="color :gray">PinCode</mat-label>
                    <input style="color :gray" type="text"  [(ngModel)]="pin_code" name="pin_code" matInput required>
                    <!-- <mat-hint color="primary">Hint</mat-hint> -->
                  </mat-form-field>
              </div>
            </div>
          </div>
          <div class="row col-md-12">
            <div class="col-md-4 ">
              <mat-form-field class="col-md-12 mat-form-wrap" style="color :gray" appearance="outline">
                <mat-label>Employee Department</mat-label>
                  <mat-select [(ngModel)]="departmant_id">
                    <mat-option>Department</mat-option>
                    <mat-option *ngFor="let dept of department" [value]="dept.departmant_id">{{dept.departmant_name}}</mat-option>
                  </mat-select>
                <!-- <mat-hint color="primary">Hint</mat-hint> -->
              </mat-form-field>
            </div>
            <div class="col-md-4">
              <mat-form-field class="col-md-12 mat-form-wrap" style="color :gray" appearance="outline">
                <mat-label>Employee Designation</mat-label>
                  <mat-select [(ngModel)]="designation_id">
                    <mat-option>Designation</mat-option>
                    <mat-option *ngFor="let desig of designation" [value]="desig.designation_id">{{desig.designation_name}}</mat-option>
                  </mat-select>
                <!-- <mat-hint color="primary">Hint</mat-hint> -->
              </mat-form-field>
            </div>
            <div class="col-md-4">
              <mat-form-field class="col-md-12 mat-form-wrap" style="color :gray" appearance="outline">
                <mat-label>Employee Access Type</mat-label>
                  <mat-select [(ngModel)]="user_type">
                    <mat-option>Access Type</mat-option>
                    <mat-option *ngFor="let user of users" [value]="user.user_name">{{user.user_name}}</mat-option>
                  </mat-select>
                <!-- <mat-hint color="primary">Hint</mat-hint> -->
              </mat-form-field>
            </div>
          </div>
        </div>
        <div>
          <button class="btn-style" style="width: 150px" mat-button matStepperPrevious>Back</button>&nbsp;&nbsp;
          <button class="btn-style" (click)="OnSaveclick()" style="width: 210px" mat-button>Save Employee Details</button>
        </div>
    </mat-step>
  </mat-vertical-stepper>
</div>