table {
    width: 100%;
    margin-top: 20px;
  }
  .example-container{
    overflow:auto;
    height: 570px;
    width: 136%;
  }
  .example-card{
    /* background-color: #33B5E5; */
    margin-top: 3px;
    width: 70%;
    margin-right: 90px;
  }
  .mat-form-wrap{
    width: 100%;
    margin: 0px;
  }
  .btn-style{
    background-color: #33B5E5;
    color: white;
    width: 100px;
    height: 40px;
    left: 0px;
    margin-bottom: 15px;
    margin-top: 15px;
    font-size: 18px;
  }
  .parent{
    text-align:center;
    height:580px;
    margin-left: 180px;
  }
  .block {
    width: 80%;
  }
  .child {
    margin:auto;
  }