<div class="container">
  <div class="row">
    <div class="col-md-6">
      <mat-card class="row example-card parent">
        <div class="block child">
          <p style="margin-top: 20px;">Add Events</p>
          <mat-form-field class="col-md-12 mat-form-wrap" style="color :gray">
            <mat-icon style="color :gray" matSuffix>developer_board</mat-icon>
            <mat-label style="color :gray">Event Name</mat-label>
            <input style="color :gray" [(ngModel)]="event_name" type="text" name="event_name"  matInput>
          </mat-form-field>
          <mat-form-field class="col-md-12 mat-form-wrap" style="color :gray">
            <mat-icon style="color :gray" matSuffix>developer_board</mat-icon>
            <mat-label style="color :gray">Event Description</mat-label>
            <input style="color :gray" [(ngModel)]="discription" type="text" name="discription"  matInput>
          </mat-form-field>
          <mat-form-field class="col-md-12 mat-form-wrap" style="color :gray" appearance="outline" >
            <input matInput [matDatepicker]="picker" placeholder="Choose a date" [(ngModel)]="from_date" name="from_date">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker ></mat-datepicker>
          </mat-form-field>
          <mat-form-field class="col-md-12 mat-form-wrap" style="color :gray" appearance="outline" >
            <input matInput [matDatepicker]="pickerr" placeholder="Choose a date" [(ngModel)]="to_date" name="to_date">
            <mat-datepicker-toggle matSuffix [for]="pickerr"></mat-datepicker-toggle>
            <mat-datepicker #pickerr ></mat-datepicker>
          </mat-form-field>
          <mat-form-field class="col-md-12 mat-form-wrap" style="color :gray">
            <mat-icon style="color:gray;" matSuffix>developer_board</mat-icon>
            <mat-label style="color :gray">Event Organiser/Incharge</mat-label>
            <input style="color:gray;" matInput [(ngModel)]="event_organizer" type="text" name="event_organizer">
          </mat-form-field>
          <div class="col-md-12">
              <button mat-raised-button class="btn-style" (click)="onsubmitclick()">{{buttoncontent}}</button>
              <!-- <button mat-icon-button class="clearbtn-style" (click)="onclearclick()"> -->
                  <!-- <mat-icon>clear_all</mat-icon>
              </button> -->
          </div>
        </div>
      </mat-card>
    </div>
    <div class="col-md-6">
      <div class="example-container mat-elevation-z1">
        <table mat-table [dataSource]="abDatasource">
          <!--Id Column-->
          <ng-container matColumnDef="event_name">
            <th mat-header-cell *matHeaderCellDef> Event Name </th>
            <td mat-cell *matCellDef="let i"> {{i.event_name}} </td>
          </ng-container>
          <!-- Name Column -->
          <ng-container matColumnDef="discription">
            <th mat-header-cell *matHeaderCellDef> Description </th>
            <td mat-cell *matCellDef="let i"> {{i.discription}} </td>
          </ng-container>
          <!-- Code Column -->
          <ng-container matColumnDef="from_date">
            <th mat-header-cell *matHeaderCellDef> From Date </th>
            <td mat-cell *matCellDef="let i"> {{i.from_date}} </td>
          </ng-container>
          <ng-container matColumnDef="to_date">
            <th mat-header-cell *matHeaderCellDef> To Date </th>
            <td mat-cell *matCellDef="let i"> {{i.to_date}} </td>
          </ng-container>
          <ng-container matColumnDef="event_organizer">
            <th mat-header-cell *matHeaderCellDef> InCharge/Organise </th>
            <td mat-cell *matCellDef="let i"> {{i.event_organizer}} </td>
          </ng-container>
           <!-- actions -->
           <ng-container matColumnDef="View/Change">
            <th mat-header-cell *matHeaderCellDef> View/Change </th>
            <td mat-cell *matCellDef="let i; let j=index;">
              <button mat-raised-button class="btn-style" (click)="RowSelected(j,i.event_id,i.event_name,i.discription,i.from_date,i.to_date,i.event_organizer)"> View/Change </button>
              <!-- <a [routerLink]="['/']"> <button mat-raised-button class="btn-style" (click)="RowSelectedd(j,event_name,discription,from_date,to_date,event_organizer)"> View/Change </button></a> -->
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div> 
    </div>
  </div>
</div>
