

<form #updateTperiod="ngForm" autocomplete="off" (ngSubmit)="onSubmit(updateTperiod)" >
  <div class="col-md-10">

   
    
      <mat-form-field>
          <mat-label>select subject</mat-label>  
    <mat-select name="sub_allocation_id" #sub_allocation_id="ngModel" [ngModel]="sub_allocation_id">              
      <mat-option *ngFor="let subject of subjects" [value]="subject.sub_allocation_id">{{subject.subject_name}}</mat-option>
    </mat-select>
      </mat-form-field>
    

     
        <div class="row">
          <label style="margin-top:15px;"> First Name </label>
                                  
          <input  matInput [disabled]="true"  name="first_name" #first_name="ngModel" [ngModel]="service.ttable.first_name" required>        
        </div>
     
    
      <div class="form-row">
        <div class="col">
          <label> From Time </label>
        </div>

        <div class="col">
            <input matInput  [disabled]="true"   name="from_time" #from_time="ngModel" [ngModel]="service.ttable.from_time" required>
        </div>

        <div class="col">
          <label> To Time</label>
        </div>
        <div class="col">
            <input matInput  [disabled]="true"  name="to_time" #to_time="ngModel" [ngModel]="service.ttable.to_time" required>
        </div>
      </div>

    


      <div class="form-row">
        <div class="col">
            <label> Section name </label>
        </div>
        <div class="col">
            <input matInput  [disabled]="true"  name="session_name" #session_name="ngModel" [ngModel]="service.ttable.session_name" required>
        </div>   
        
        <div class="col">
          <label> Status </label>
        </div>
        <div class="col">
            <input matInput  [disabled]="true"  name="timetable_status" #timetable_status="ngModel" [ngModel]="service.ttable.timetable_status" required>
        </div>
      </div>
          

    
      <input  type="hidden"    name="subject_id" #subject_id="ngModel" [ngModel]="service.ttable.subject_id">

    <input  type="hidden"    name="employee_id" #employee_id="ngModel" [ngModel]="service.ttable.employee_id">


    <input  type="hidden"    name="class_id" #class_id="ngModel" [ngModel]="service.ttable.class_id">

    <input  type="hidden"    name="time_period_id" #time_period_id="ngModel" [ngModel]="service.ttable.time_period_id">


    <input  type="hidden"    name="time_table_id" #time_table_id="ngModel" [ngModel]="service.ttable.time_table_id">


            
        <div class="col-md-6">
          
         
        </div>            
      


        <div style="width:400px;">
          <div style="float: left; width: 130px"> 
            <button   class="btn btn-primary" > Assign </button> <br>
          </div>
          <div style="float: right; width: 225px"> 
            <button   class="btn btn-danger" (click)="close()"> close </button>
          </div>
      </div>
    


  </div>
</form>