<form #updateTperiod="ngForm" autocomplete="off" (ngSubmit)="onSubmit(updateTperiod)" >
  <div class="row">


    



    <mat-form-field class="col-md-12" style="color: gray;" >
      <mat-label style="color: gray;">First Naae</mat-label>

      <mat-icon style="color :gray" matSuffix>developer_board</mat-icon>          
      <input matInput    name="first_name" #first_name="ngModel" [ngModel]="service.ttable.first_name" required>
      <!-- <mat-hint style="color: gray;">Hint</mat-hint> -->
    </mat-form-field>


    <mat-form-field class="col-md-12" style="color: gray;">
      <mat-label style="color: gray;">From Time</mat-label>
      <mat-icon style="color :gray" matSuffix>developer_board</mat-icon>          
      <input matInput    name="from_time" #from_time="ngModel" [ngModel]="service.ttable.from_time" required>
      <!-- <mat-hint style="color: gray;">Hint</mat-hint> -->
    </mat-form-field>


    <mat-form-field class="col-md-12" style="color: gray;" >
      <mat-label style="color: gray;">To Time</mat-label>
      <mat-icon style="color :gray" matSuffix>developer_board</mat-icon>          
      <input matInput    name="to_time" #to_time="ngModel" [ngModel]="service.ttable.to_time" required>
      <!-- <mat-hint style="color: gray;">Hint</mat-hint> -->
    </mat-form-field>


    <mat-form-field class="col-md-12" style="color: gray;" >
      <mat-label style="color: gray;">Section Name</mat-label>
      <mat-icon style="color :gray" matSuffix>developer_board</mat-icon>          
      <input matInput    name="session_name" #session_name="ngModel" [ngModel]="service.ttable.session_name" required>
      <!-- <mat-hint style="color: gray;">Hint</mat-hint> -->
    </mat-form-field>



    <mat-form-field class="col-md-12" style="color: gray;" >
      <mat-label style="color: gray;">Subject Name</mat-label>
      <mat-icon style="color :gray" matSuffix>developer_board</mat-icon>          
      <input matInput    name="subject_name" #subject_name="ngModel" [ngModel]="service.ttable.subject_name" required>
      <!-- <mat-hint style="color: gray;">Hint</mat-hint> -->
    </mat-form-field>


    <mat-form-field class="col-md-12" style="color: gray;" >
      <mat-label style="color: gray;">Status</mat-label>
      <mat-icon style="color :gray" matSuffix>developer_board</mat-icon>          
      <input matInput    name="timetable_status" #timetable_status="ngModel" [ngModel]="service.ttable.timetable_status" required>
      <!-- <mat-hint style="color: gray;">Hint</mat-hint> -->
    </mat-form-field>



    <input  type="hidden"    name="subject_id" #subject_id="ngModel" [ngModel]="service.ttable.subject_id">

    <input  type="hidden"    name="employee_id" #employee_id="ngModel" [ngModel]="service.ttable.employee_id">


    <input  type="hidden"    name="class_id" #class_id="ngModel" [ngModel]="service.ttable.class_id">

    <input  type="hidden"    name="time_period_id" #time_period_id="ngModel" [ngModel]="service.ttable.time_period_id">

    
    <button mat-raised-button  class="btn btn-lg btn-block btn-info"> Assign </button> 
  </div>
</form>