<div class="container">
  <mat-card class="row example-card">
    <div class="container">

        <form #signupRequest="ngForm" autocomplete="off" (ngSubmit)="onSubmit(signupRequest)">

            <div class="col-xl-8">
                <div class="row">

                    <div class="col-md-12">
                        <div class="main">
                          <p style="margin-top: 20px;">SignUp Request Form </p>
                        </div>
                      </div>

            <div class="col-md-6 mat-form-wrap">
                <mat-form-field class="mat-form-wrap" style="color: gray;" appearance="outline">
                  <mat-label style="color: gray;">Institute Name</mat-label>
                  <input matInput    name="institution_name" #institution_name="ngModel" [ngModel]="signupService.signUpModelRef.institution_name" required>
                  <mat-icon style="color: gray;" matSuffix>business</mat-icon>
                  <!-- <mat-hint style="color: gray;">Hint</mat-hint> -->
                </mat-form-field>
               
              </div>

              <div class="col-md-6 mat-form-wrap">
                  <mat-form-field class="mat-form-wrap" style="color: gray;" appearance="outline">
                    <mat-label style="color: gray;">Institute Code</mat-label>
                    <input matInput    name="institution_code" #institution_code="ngModel" [ngModel]="signupService.signUpModelRef.institution_code" required>
                    <mat-icon style="color: gray;" matSuffix>call</mat-icon>
                    <!-- <mat-hint color="primary">Hint</mat-hint> -->
                  </mat-form-field>
                
                </div>

              <div class="col-md-6 mat-form-wrap">
                  <mat-form-field class="mat-form-wrap" style="color: gray;" appearance="outline">
                    <mat-label style="color: gray;">Institute Address</mat-label>
                    <input matInput    name="institution_address" #institution_address="ngModel" [ngModel]="signupService.signUpModelRef.institution_address" required>
                    <mat-icon style="color: gray;" matSuffix>code</mat-icon>
                    <!-- <mat-hint style="color: gray;">Hint</mat-hint> -->
                  </mat-form-field>

                  
                </div>
                <div class="col-md-6 mat-form-wrap">
                  <mat-form-field class="mat-form-wrap" style="color: gray;" appearance="outline">
                    <mat-label style="color: gray;">Institute Email</mat-label>
                    <input matInput    name="institution_email" #institution_email="ngModel" [ngModel]="signupService.signUpModelRef.institution_email" required>
                    <mat-icon style="color: gray;" matSuffix>email</mat-icon>
                    <!-- <mat-hint style="color: gray;">Hint</mat-hint> -->
                  </mat-form-field>
                  
                </div>
                <div class="col-md-6 mat-form-wrap">
                  <mat-form-field class="mat-form-wrap" style="color: gray;" appearance="outline">
                    <mat-label style="color: gray;">Institution PhoneNo</mat-label>
                    <input matInput    name="institution_phone_no" type="number"oninput="typescript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" maxlength="10" #institution_phone_no="ngModel" [ngModel]="signupService.signUpModelRef.institution_phone_no" required>
                    <mat-icon style="color: gray;" matSuffix>local_phone</mat-icon>
                    <!-- <mat-hint style="color: gray;">Hint</mat-hint> -->
                  </mat-form-field>
                  
                </div>
                <div class="col-md-6 mat-form-wrap">
                  <mat-form-field class="mat-form-wrap" style="color: gray;" appearance="outline">
                    <mat-label style="color: gray;">Institute MobileNo</mat-label>
                    <input matInput    name="institution_mobile_no" type="number"oninput="typescript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" maxlength="10" #institution_mobile_no="ngModel" [ngModel]="signupService.signUpModelRef.institution_mobile_no" required>
                    <mat-icon style="color: gray;" matSuffix>local_phone</mat-icon>
                    <!-- <mat-hint style="color: gray;">Hint</mat-hint> -->
                  </mat-form-field>

                  
                </div>
                
              </div>
                            
                    <p style="margin-top: 20px;">Admin Contact Details</p>
                   <div class="row">
                    <div class="col-md-6 mat-form-wrap">
                        <mat-form-field class="mat-form-wrap" style="color: gray;" appearance="outline">
                          <mat-label style="color: gray;">Contact Person Name</mat-label>
                          <input matInput    name="contact_person_name" #contact_person_name="ngModel" [ngModel]="signupService.signUpModelRef.contact_person_name" required>
                          <mat-icon style="color: gray;" matSuffix>add_location</mat-icon>
                          <!-- <mat-hint style="color: gray;">Hint</mat-hint> -->
                        </mat-form-field>
                        
                      </div>


                      <div class="col-md-6 mat-form-wrap">
                        <mat-form-field class="mat-form-wrap" style="color: gray;" appearance="outline">
                          <mat-label style="color: gray;">Contact Person Mobile No</mat-label>
                          <input matInput    name="contact_person_mobile_no" type="number"oninput="typescript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" maxlength="10" #contact_person_mobile_no="ngModel" [ngModel]="signupService.signUpModelRef.contact_person_mobile_no" required>
                          <mat-icon style="color: gray;" matSuffix>account_circle</mat-icon>
                          <!-- <mat-hint style="color: gray;">Hint</mat-hint> -->
                        </mat-form-field>
                        
                      </div>
                      
                      <div class="col-md-6 mat-form-wrap">                          
                            <input  type="hidden"    name="institution_image" #institution_image="ngModel" [ngModel]="signupService.signUpModelRef.institution_image" required>                           
                        </div>
                      </div>                    
                </div>
              
                <div class="row">
                    <div class="col-md-12">
                      <button   type="submit"    mat-raised-button class="btn-style" > Save</button>
                      
                    </div>
                </div>

          </form>
    </div>
          </mat-card>
</div>

      